html, body {
	height: 100%;
}

body {
background: #F0C27B;
background: -webkit-linear-gradient(to left, #F0C27B , #4B1248);
background: linear-gradient(to left, #F0C27B , #4B1248);
}

.jumbotron {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: white;
}

.form-group label{
	margin-right: 18px;
}

form input.btn{
	float: right;
}

.alert-danger {
	position: relative;
	top: 16px;
}

.alert-info {
	position: relative;
	top: 28px;
}

.clear-both{
	clear: both;
}

#img-profile{
	float: left;
}

#data-profile{
	float: right;
	text-align: right;
}

#name-profile{
	position: relative;
	top: 20px;
	text-align: center;
}

#state-offline{
	color: #6C7A89;
}

#state-online{
	color: #2ECC71;
}

#state-busy{
	color: #F9690E;
}

#state-away{
	color: #2574A9;
}

#state-snooze{
	color: #3A539B;
}

#state-play{
	color: #EF4836;
}

#state-trade{
	color: #F7CA18;
}
