extends ./layout.jade
block content
	.container
		.jumbotron
			form.form-inline(action="/user" method="POST")
				.form-group
					label(for="nickname") Nickname:
					input(type="text" name="nickname" placeholder="saintplay96" id="nickname" class="form-control")
				input(type="submit" value="Obtener datos" class="btn btn-info btn-lg")
			.alert-danger.clear-both(role="alert")
				if nickname
					p No se encontró a <em><b>#{nickname}</b></em>
				else if id
					p No existe el id <em><b>#{id}</b></em>
			.alert-info.clear-both(role="alert")
				p. 
					<b>Dato!</b> Tambien puedes usar una petición query: 
					<br> <em>localhost:8080/user?nickname=saintplay96</em>
					<br> <em>localhost:8080/user?id=76561198194816999</em>
			
