doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet" href="/styles.css")
		title Reto 2 Mejorado
	body
		block content

