extends ./layout.jade
block content
  .container
    .jumbotron
      img.img-circle#img-profile(src="#{avatarfull}")
      #data-profile
        p
          small <b>ID64:</b> #{steamid}
        p
          small <b>ID:</b> #{id}
        p
          small <b>Url:<b>
            a(href="#{profileurl}")  #{personaname}
        if personastate == 0
          p#state-offline Offline
        else if personastate == 1
          p#state-online Online
        else if personastate == 2
          p#state-busy Busy
        else if personastate == 3
          p#state-away Away
        else if personastate == 4
          p#state-snooze Snooze
        else if personastate == 5
          p#state-trade Looking for trade
        else if personastate == 6
          p#state-play Looking for play
      h1.clear-both#name-profile #{personaname}
